.mybody {
    background-color: #f5f1e0;
    font-size: 16px;
}

#nav_bar {
    background-color: #aad6a0 !important;
}

#mybutton {
    background-color: #382C2C !important;
}

#mydrop {
    background-color: #f5f1e0 !important;
}

.containers {
    background-color: #f2e4da;
}

.mycard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #92574B;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}